    <div class='cv-summary'>
      <div class='cv-headline'>
        <p>
          Web developer
        </p>
      </div>
      <div class='cv-address'>
        <p>
          Victoria, BC
        </p>
      </div>
      <div class='cv-phone'>
        <p>
          +12505887085
        </p>
      </div>
      <div class='cv-email'>
        <p>
          thewyatt@gmail.com
        </p>
      </div>
      <div class='cv-link'>
        <p>
          linkedin.com/in/robinsonwyatt/
        </p>
        <p>
          github.com/wyleroo
        </p>
        <p>
          bitbucket.com/wileycyrus
        </p>
      </div>
    </div>