<div class='cv-summary'>
  <div class ='cv-header'>
    <p>
      SUMMARY
    </p>
  </div>
  <div class='cv-summary-body'>
    <p>
      Biology BSc graduate, project manager, and web development student. Comfortable with JavaScript and back end logic. Always looking to learn new languages and skills. Modular and clean code keeps me sane. Scuba diver and backyard truck mechanic.
    </p>
  </div>
</div>
