<div class='cv-work'>
  <div class='cv-work-title'>
    <p>
      WORK EXPERIENCE
    </p>
  </div>

  <div class='cv-work-body'>
    <div class='cv-work-item'>
      <p>
        2015 - 2017   Project Manager
        Tycon Steel
        Building bids, estimating project materials, detailing project materials, project oversight. Foreman Ironworker for select projects.
      </p>
    </div>

    <div class='cv-work-item'>
      <p>
        2013 - 2015     Journeyman Ironworker
        Tycon Steel
        Packing and placing reinforcing steel for industrial scale construction projects. Custom bending and cutting, on site problem solving.
      </p>
    <div class='cv-work-item'>
      <p>
        2011 - 2013  Research Assistant
        University of Victoria, Department of  Biology
        Lab inventory management. Research assistant on several projects in the field of molecular evolution. See publication list below.
      </p>
    </div>

    <div class='cv-work-item'>
      <p>
        2004 - 2010  Stage Technician
        UVic Farquhar Auditorium
        Audio/visual technician, stage manager, client liaison. Set up, clean up, running of live shows and performances.
      </p>
    </div>

    <div class='cv-work-item'>
      <p>
        2007 - 2008     Head Usher
        UVic Farquhar Auditorium
        Supervisor to teams of up to a dozen ushers. Client liaison. Managing show schedules with technical crew.
      </p>
    </div>

    <div class='cv-work-item'>

    </div>
  </div>
</div>