<body>
  <div class='text-container'>
    <div class='cv-title'>
      <p> WYATT ROBINSON</p>
    </div>

    <div class='cv-body'>
      <%= render 'resume/headline.html.erb' %>
      <%= render 'resume/summary.html.erb' %>
      <%= render 'resume/work.html.erb' %>
      <%= render 'resume/education.html.erb' %>
    </div>

  </div>
</body>