<body>
  <div class='text-container'>
    <div class='projects-title'>
      <p>PROJECTS</p>
    </div>
    <div class='projects-list'>

      <%= render '/projects/find_me_friends.erb.html' %>
      <%= render '/projects/butterlist.erb.html' %>
      <%= render '/projects/chatty.erb.html' %>

    </div>

  </div>
</body>