/* GENERAL VARIABLES */
$font-stack: 'Raleway', sans-serif;
$font-logo:'Playfair Display', serif;
$font-size-base: 16px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 28px;
$font-size-logo: 40px;


$font-color-main: black;
$font-color-white: white;
$color-primary: #FCE181;
$color-secondary: #FEF9C7;
$color-background: #EDEAE5;
$color-darkgreen: #026670;
$card-background-color: #9FEDD7;

$max-width: 1200px;
$horizontal-spacing-unit: 10px;
$vertical-spacing-unit: 10px;
$small-padding: 5px;
$large-padding: 20px;
$page-padding-top: 20px;

$default-border-radius: 5px;
$default-box-shadow: -2px 2px 8px #777;

/* NAVBAR/FOOTER VARIABLES */
$navbar-box-shadow: -2px 2px 8px #777;
$navbar-font-size: 18px;
$navbar-background-color: $color-darkgreen;
$navbar-link-color: $color-secondary;
$navbar-link-hover-color: $color-secondary;
$navbar-link-hover-background-color: lightgrey;
$navbar-link-border: 1px solid $color-primary;
$navbar-height: 80px;
$footer-height: 100px;
$navbar-height-responsive: 160px;
$navbar-link-border-radius: 5px;
