/* GENERAL VARIABLES */
$font-stack: 'Lato', sans-serif;
$font-logo:'Lobster Two', cursive;
$font-size-base: 16px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 28px;
$font-size-logo: 40px;


$font-color-main: #66FCF1;
$font-color-white: #C5C6C7;
$color-primary: #45A29E;
$color-secondary: #287fb8;
$color-background: #0B0C10;
$color-darkgrey: #1F2833;
$card-background-color: #FFF;

$max-width: 1200px;
$horizontal-spacing-unit: 10px;
$vertical-spacing-unit: 10px;
$small-padding: 5px;
$large-padding: 20px;
$page-padding-top: 20px;

$default-border-radius: 5px;
$default-box-shadow: -2px 2px 8px #777;

/* NAVBAR/FOOTER VARIABLES */
$navbar-box-shadow: -2px 2px 8px #777;
$navbar-font-size: 18px;
$navbar-background-color: $color-background;
$navbar-link-color: #555;
$navbar-link-hover-color: $color-primary;
$navbar-link-hover-background-color: lightgrey;
$navbar-link-border: 1px solid $color-primary;
$navbar-height: 80px;
$footer-height: 100px;
$navbar-height-responsive: 160px;
$navbar-link-border-radius: 5px;
