// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projects-title {
  font-weight: bolder;
  padding: 10px;
  width: 300px;
}

.projects-title p {
  margin-left: 20%;
  padding-left: 25%;
  padding-top: 10px;
}

.projects-item {
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.item-title {
  font-weight: bold;
  padding: 10px 5px;
}

.item-description {
  padding-left: 10px;
}

.item-link {
  padding: 5px 20%;
  font-weight: bold;
}