// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: image-url('20170122_145034_HDR.jpg');
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  color: white;
}