<div class='footer'>
  <div class='link-container'>
    <div class='git-link'>
      <a href='https://bitbucket.org/wileycyrus/'><span class='fa fa-bitbucket-square fa-4x'></span></a>
    </div>
    <div class='git-link'>
      <a href='https://github.com/wyleroo'><span class='fa fa-github fa-4x'></span></a>
    </div>
  </div>
  <div class='footer-text'>
      Updated 2017
  </div>
</div>


