<div class='footer'>
  <div class='footer-text'>
    <div class='github-link'>
      <a href='https://github.com/wyleroo'><span class='fa fa-github fa-2x'></span></a>
    </div>
    Crafted with <span class='fa fa-heart'></span> in Victoria, BC
    <div class='footer-links'>
      <span class='fa fa-copyright'></span> Updated 2017 by
      <a href='https://www.visualcv.com/wyattrobinson'>Wyatt Robinson</a>,
    </div>
  </div>
</div>


