<div class='navbar-wrapper'>
  <div class='navbar'>

    <div class='nav-brand'>
      <%= link_to :root do %> Wyatt Robinson<% end %>
    </div>

    <div class='nav-links'>
        <span class='nav-link'>
          <%= link_to "Projects", projects_index_path %>
        </span>

        <span class='nav-link'>
          <%= link_to "CV", resume_index_path %>
        </span>

    </div>

  </div>
</div>
