<div class='navbar-wrapper'>
  <div class='navbar'>
    <div class='nav-brand'>
      <%= link_to :root do %> HOMER<% end %>
    </div>
    <div class='nav-btn'>
      <label for='nav-check'>
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  </div>
</div>
